<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}

    {{/* Bundle and minify scripts */}}
    {{ $main := resources.Get "js/main.js" }}
    {{ $cookie := resources.Get "js/cookieBanner.js" }}
    {{ $concatJs := slice $main $cookie | resources.Concat "js/bundle.js" }}
    {{ $bundleJs := $concatJs | resources.Minify | resources.Fingerprint }}
    
    <script async src="{{ $bundleJs.Permalink }}"></script>
    
    <body> 
        {{- partial "cookiebanner.html" . -}}
        {{- partial "header.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
