<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" lang="en" data-bs-theme="dark">
    {{- partial "head.html" . -}}

    {{/* Bundle and minify scripts */}}
    {{ $main := resources.Get "js/main.js" | resources.ExecuteAsTemplate "_main.js" . }}
    {{ $cookie := resources.Get "js/cookieBanner.js" }}
    {{ $concatJs := slice $main $cookie | resources.Concat "js/bundle.js" }}
    {{ $bundleJs := $concatJs | resources.Minify | resources.Fingerprint }}
    
    <script src="/js/feather.min.js"></script>
    <script src="{{ $bundleJs.Permalink }}"></script>
    
    <body> 
        {{- partial "header.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "cookiebanner.html" . -}}
    </body>
    <script>
        feather.replace();
    </script>
</html>
