{{ define "main" }}
<div class="container">
    <div class="jumbotron shadow p-3 mb-5" style="background-image:url('{{"img/bg1.jpg" | relURL }}');">
      <blockquote class="blockquote text-center">
        <p class="lead"><span class="list-jumbotron-text">I like to tinker with stuff. Often without a clear purpose. Recently I figured it was fun just writing about it; my takeaways, or lack of them. Or maybe it's just another covid-19 reaction...</span></p>
        <footer class="blockquote-footer"><span class="list-jumbotron-text">Oscar, 2020</span></footer>
      </blockquote>
    </div>

    {{ partial "alltags.html" . }}
    <h1>All posts</h1>
    {{ range .Pages.ByPublishDate.Reverse }}
    <p>
        <h4><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        {{ partial "metadata.html" . }}
    </p>
    {{ end }}
</div>
{{ end }}