{{ define "main" }}
<div class="container">
    <div class="jumbotron">
      <blockquote class="blockquote text-center">
        <p class="lead">I like to tinker with stuff. Most often without a clear purpose. Recently I figured it was fun just writing about it; my take aways, or lack of them. Or maybe it's just another covid-19 reaction...</p>
        <footer class="blockquote-footer">Oscar, 2020</footer>
      </blockquote>
    </div>

    {{ partial "alltags.html" . }}
    <h1>All posts</h1>
    {{ range .Pages.ByPublishDate.Reverse }}
    <p>
        <h4><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        {{ partial "metadata.html" . }}
    </p>
    {{ end }}
</div>
{{ end }}