{{ define "main" }}
<div class="container text-break">
    {{ partial "alltags.html" . }}
    <h2>{{ .Title }}</h2>
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <time datetime="{{ $dateTime }}"><p class="small">Written by: Oscar Wendelin Berg, {{ .PublishDate.Format $dateFormat }}</p></time>
    {{ .Content }}
    <br/>
    Feel free to get in touch if you have any questions.
    {{- partial "minime.html" . -}}
    {{ partial "metadata.html" . }}
    
</div>
{{ end }}