{{ define "main" }}
  {{- partial "jumbome.html" . -}}
  {{ range .Pages }}
    <div class="container" style="background-color:{{ .Params.color }};">
        {{ range .Params.brags }}
        {{ $item := . }}
        {{ if eq (substr $item 0 4) "img/" }}
        <img
         class="img-fluid"
          src="{{ $item | absURL }}"
        />
        {{ else if eq (substr $item 0 1) ":" }}
          <p class="text-center"> {{emojify $item}}</p>
  
        {{ else }}
        <p class="lead">{{ . | safeHTML }}</p>
        {{ end }}
        {{ end }}
        {{ .Content }}
    </div>
  {{ end }}
  <div class="container shadow p-3 mb-5 mt-5 landing-cv rounded">
    <p class="lead">For a detailed CV, feel free to get in touch via email or LinkedIn.</p>
    {{- partial "minime.html" . -}}
  </div>

  <div class="container">
    <h3>Latest posts</h3>
    {{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
    <p>
        <h4><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        {{ partial "metadata.html" . }}
    </p>
    {{ end }}
  </div>
{{ end }}
