.ml-3 {
    margin-top: 0 !important;
}

.cookie-banner { position: fixed; bottom: 0px; left: 0px; width: 100%; z-index: 999; border-radius: 0px; display: none; }


.list-jumbotron-text {
    background-color: #fcff64; 
}

pre {
    padding:10px;
}

.post-image {
    max-width: 500px;
}

.landing-cv {
    background-color:rgb(54, 102, 131);
    color:white;
}

.jumbome {
    background-image:url('{{"img/bg5.jpg" | relURL }}')
}