
    <nav id="nav" class="navbar sticky-top shadow p-3 mb-5 bg-body">
        <div class="container">

            <a class="nav-link" href="{{ .Site.BaseURL | absURL }}"><i data-feather="home"></i></a>
            <a class="nav-button" data-bs-theme-value="toggle"></a>
            
            {{ range .Site.Menus.main }}
            <a class="nav-link" href="{{ .URL }}">
            {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
            </a>
            {{ end }}
        </div>
    </nav>
