
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalyticsMesurementId }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', {{ .Site.Params.googleAnalyticsMesurementId }});
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $style := resources.Get "scss/bootstrap.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    
    {{/* Minify css */}}
    {{ $css := resources.Get "css/style.css" }}
    {{ $style := $css | resources.Minify | resources.Fingerprint}}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = print .Site.Title " | Software Development" }}{{ end }}
    <title>{{ $title }}</title>
</head>
